<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="display-3">Hora y Temperatura</h1>      
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header">
          Santiago (CL)
        </div>
        <div class="card-body">
          <h3 class="card-title">13:35:59</h3>
          <p class="card-text">13º Celsius</p>
        </div>
      </div>     
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header">
          Santiago (CL)
        </div>
        <div class="card-body">
          <h3 class="card-title">13:35:59</h3>
          <p class="card-text">13º Celsius</p>
        </div>
      </div>     
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header">
          Santiago (CL)
        </div>
        <div class="card-body">
          <h3 class="card-title">13:35:59</h3>
          <p class="card-text">13º Celsius</p>
        </div>
      </div>     
    </div> 

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header">
          Santiago (CL)
        </div>
        <div class="card-body">
          <h3 class="card-title">13:35:59</h3>
          <p class="card-text">13º Celsius</p>
        </div>
      </div>     
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header">
          Santiago (CL)
        </div>
        <div class="card-body">
          <h3 class="card-title">13:35:59</h3>
          <p class="card-text">13º Celsius</p>
        </div>
      </div>     
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header">
          Santiago (CL)
        </div>
        <div class="card-body">
          <h3 class="card-title">13:35:59</h3>
          <p class="card-text">13º Celsius</p>
        </div>
      </div>     
    </div>            


  </div>  
</div>